.content-buy-cart .empty-my-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-buy-cart .empty-my-cart-img {
  width: 50%;
}
.content-buy-cart .empty-my-cart-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 5% 0;
  width: 100%;
}
.content-buy-cart .empty-my-cart-text h1 {
  color: #0970e6;
  font-size: 26px;
}
.content-buy-cart .empty-my-cart-text span {
  color: #929292;
}
.content-buy-cart {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.content-buy-cart .cart-list {
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  max-height: calc((100vh / 1.5));
  scrollbar-color: #2088E2 transparent;
  scrollbar-width: thin;
}
.content-buy-cart .cart-total {
  width: 100%;
  margin: 10px 0;
  background: #929292;
}
.content-buy-cart .cart-total .title-cart-total {
  background: #005BAA;
  color: #f5f5f5;
  font-size: 12px;
  /* text-align: center; */
  /* margin: auto; */
  height: 35px;
  font-weight: 300;
  padding: 10px;
}
.content-buy-cart .cart-total .text-cart-total {
  padding: 10px 2px;
  font-size: 14px;
  color: #181818;
}
.content-buy-cart .btn-buy-cart {
  min-width: 130px;
  height: 40px;
  color: #f5f5f5;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: 2px solid #005BAA;
  background: #005BAA;
}
.btn-buy-cart:hover {
  background: #f5f5f5;
  color: #005BAA;
}
@media screen and (min-width: 1023px) {
  .content-buy-cart .empty-my-cart-img {
    width: 125px;
  }
  .content-buy-cart .empty-my-cart-text {
    margin: 25px 0;
  }
  .content-buy-cart {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .cart-table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px dashed #2088e2;
    white-space: nowrap;
  }
  .cart-table .head-cart-table {
    width: 100%;
    height: 50px;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
  }
  .cart-table .body-cart-table .icon-trash {
    cursor: pointer;
    width: 25px;
  }
  .cart-table .body-cart-table .title-buy-cart {
    color: #2088e2;
  }
  .content-buy-cart .minus-button-buy-cart,
  .content-buy-cart .more-button-buy-cart {
    width: 25px;
    height: 30px;
    background: #2088e2;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  .cart-total {
    width: 40%;
  }  
  .btn-buy-cart {
    margin: 15px 0;
    border-radius: 20px;
  }
}