.container-home {
  width: 100%;
}
.container-home .loading-text {
  margin: 0 auto;
  color: #929292;
  font-size: 24px;
}
.container-home .orderby-filters-mobile {
  display: flex;
  width: 100%;
}
.container-home .article-orderby-mobile,
.container-home .article-filters-mobile {
  width: 50%;
  height: 50px;
  border: 1px solid #929292;
}
.container-home .btn-order-by-mobile,
.container-home .btn-filters-mobile {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  letter-spacing: 2px;
  color: #2088E2;
}
.container-home .btn-order-by-mobile svg,
.container-home .btn-filters-mobile svg {
  width: 30px;
  height: 25px;
}
.container-home .products-home {
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .container-home {
    display: flex;
    width: 100%;
    height: 49.625em;
    position: relative;
  }
  .container-home .loading-text {
    color: #929292;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-home .filters-home {
    width: 20%;
    padding: 0 10px;
    position: relative;
    top: 0;
    left: 0;
  }
  .container-home .publicity-home {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .container-home .publicity-home figure {
    padding: 15px 0;
  }
  .container-home .products-home {
    width: 80%;
    min-height: 720px;
    border-top: 0.125rem solid #dbdbdb;
  }
  .container-home .products-home .header-products-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 10px;
  }
}
@media screen and (min-width: 1279px) {
  .container-home {
    height: 52.625em;
  }
}
@media screen and (min-width: 1439px) {
  .container-home {
    height: 50.625em;
  }
}